<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission-sdk-23 android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission-sdk-23 android:name="android.permission.FOREGROUND_SERVICE_HEALTH" />
    <uses-permission-sdk-23 android:name="android.permission.HIGH_SAMPLING_RATE_SENSORS" />

    <uses-permission-sdk-23 android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission-sdk-23 android:name="android.permission.BODY_SENSORS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".QcmptApplication"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjetUqac"
        tools:targetApi="31">
        <activity
            android:name=".ui.accountscreen.AccountActivity"
            android:exported="false"
            android:label="@string/title_activity_account"
            android:theme="@style/Theme.ProjetUqac" />
        <activity
            android:name=".ui.historyscreen.HistoryActivity"
            android:exported="false"
            android:label="@string/title_activity_history"
            android:theme="@style/Theme.ProjetUqac" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true"
            android:label="@string/title_activity_splash_screen"
            android:theme="@style/Theme.ProjetUqac">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SplasScreenActivity"
            android:exported="false"
            android:label="@string/title_activity_splas_screen"
            android:theme="@style/Theme.ProjetUqac" />
        <activity
            android:name=".ui.mainscreen.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ProjetUqac"></activity>
    </application>

</manifest>